form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid black;
}

input, label {
  margin: 10px 0;
}

label {
  font-weight: bold;
}

input[type="text"], input[type="email"] {
  border: 1px solid gray;
  padding: 5px;
  font-size: 16px;
}

input[type="submit"].submit {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"].submit:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
